<div class="container mt-3 vertical-center">
    <div class="row">
        <div class="col-md-6">
            <h2>Edit Contact Form</h2>
            <% if (typeof errors != 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <% errors.forEach(error => { %>
                            <li><%= error.msg %> </li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
            <form method="POST" action="/contact/edit">
                <input type="hidden" name="oldPhoneNumber" value="<%= contact.oldPhoneNumber || contact.phoneNumber %>">
                <div class="mb-3">
                    <label for="name" class="form-label">Fullname</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= contact.name %>" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" name="email" value="<%= contact.email %>" required>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="<%= contact.phoneNumber %>" required>
                </div>
                <button type="submit" class="btn btn-primary">Edit Data</button>
              </form>
        </div>
    </div>
</div>